* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header h1 {
  padding-top: 50px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
  width: 70%;
}

#timer {
  text-align: center;
}

.full-width {
  width: 100%;
  text-align: left;
}

.highscores {
  text-align: center;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: blue;
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

ul {
  list-style-type: none;
}
